* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  color: $cod-gray;
  font-family: $default-font;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: url("../img/pattern-main.png") repeat;
}

.links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: $medium-carmine-hover;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  box-shadow: $shadow;

  a {
    color: $snow;
    font-weight: bold;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}


.inner-wrapper {
  max-width: 1472px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.main-section {
  margin-top: 100px;
  flex: 1;

  @media (max-width: $screen-md) {
    margin-top: 52px;
  }
}

* {
  outline: none !important;
}

// custom dividers
.mt-10 { margin-top: 10px }
.mr-10 { margin-right: 10px }
.mb-10 { margin-bottom: 10px }
.ml-10 { margin-left: 10px }

.mt-20 { margin-top: 20px }
.mr-20 { margin-right: 20px }
.mb-20 { margin-bottom: 20px }
.ml-20 { margin-left: 20px }

.mt-25 { margin-top: 25px }
.mr-25 { margin-right: 25px }
.mb-25 { margin-bottom: 25px }
.ml-25 { margin-left: 25px }

.mt-30 { margin-top: 30px }
.mr-30 { margin-right: 30px }
.mb-30 { margin-bottom: 30px }
.ml-30 { margin-left: 30px }

.mt-40 { margin-top: 40px }
.mr-40 { margin-right: 40px }
.mb-40 { margin-bottom: 40px }
.ml-40 { margin-left: 40px }

.mt-55 { margin-top: 55px }
.mr-55 { margin-right: 55px }
.mb-55 { margin-bottom: 55px }
.ml-55 { margin-left: 55px }

.reset-position {
  position: static !important;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  right: auto !important;
  transform: none !important;
}

.arrow-link {
  font: 18px/18px "GeometriaBold", sans-serif;
  color: $rock;
  @include transition(.2s);

  &:hover {
    color: $medium-carmine;
  }

  &.arrow-right {
    .mdi {
      margin-left: 5px;
    }
  }

  &.arrow-left {
    .mdi {
      margin-right: 5px;
    }
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-size: 25px;
    line-height: 25px;
    color: $rock;
    @include transition(.2s);
  }
}

.social-links {
  a {
    display: inline-block;
    vertical-align: middle;
    color: $rock;
    font-size: 30px;
    line-height: 30px;
    margin-right: 40px;
    @include transition(.2s);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $medium-carmine;
    }
  }
}

.hide-mobile {
  @media (max-width: $screen-sm) {
    display: none !important;
  }
}

// Keyframes
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($medium-carmine, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba($medium-carmine, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($medium-carmine, 0);
  }
}

// Select lang
.selectric-wrapper {
  &.selectric-select-lang {
    .selectric-items {
      width: 100px !important;
    }
  }
  &.selectric-select-city {
    .selectric-items {
      width: 230px !important;
    }

    .selectric {
      overflow: initial;


      @media (min-width: $screen-md) {
        height: 52px;
        margin-bottom: -22px;
      }

      .label {
        font-size: 15px;

        @media (min-width: $screen-md) {
          height: 30px;
          line-height: 31px;
        }
      }

      .button {
        @media (min-width: $screen-md) {
          top: 8px;
          right: -30px;
        }
      }
    }
  }

  .selectric {
    background: none;
    border: none;

    .label {
      font: 18px/37px "GeometriaBold", sans-serif;
      color: $cod-gray;
      margin: 0 20px 0 0;
    }

    .button {
      background: none;
      width: 20px;

      &:after {
        border-top-color: $cod-gray;
        border-width: 5px;
      }
    }
  }

  .selectric-items {
    border-radius: 0 0 8px 8px;
    background: $ripe-lemon;
    box-shadow: $shadow;
    border: none;
    left: -20px;

    ul {
      padding: 20px 0 10px;

      li {
        font-size: 16px;
        line-height: 18px;
        padding: 0 20px 10px;
        text-transform: uppercase;
        color: $rock;
        @include transition(.2s);

        &.selected, &:hover {
          background: none;
          color: $medium-carmine;
        }
      }
    }
  }
}

// Dropdown list
.dropdown-list {
  position: absolute;
  top: 100%;
  left: -20px;
  padding: 20px 0 10px;
  margin: 0;
  list-style: none;
  width: 200px;
  border-radius: 0 0 8px 8px;
  background: $ripe-lemon;
  box-shadow: $shadow;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  @include transition(.3s);

  li {
    a {
      display: block;
      font: 16px/18px "GeometriaRegular", sans-serif;
      padding: 0 20px 10px;
      text-transform: uppercase;
      color: $rock;
      @include transition(.2s);

      &:hover {
        color: $medium-carmine;
      }
    }
  }
}


.icon-text {
  font: 15px/19px "GeometriaBold", sans-serif;
  color: $cod-gray;
  user-select: none;
  @include transition(.2s);

  &:hover {
    color: $medium-carmine-hover;
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    color: $medium-carmine;
    font-size: 24px;
    line-height: 26px;
    margin-right: 10px;
    margin-top: -2px;
  }
}

// Input styles
.input-material {
  position: relative;
  margin-bottom: 30px;

  input, textarea {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    resize: none;
    padding: 10px 0;
    border-bottom: 1px solid $rock;

    &.active, &:focus {
      + .input-label {
        transform: translate(0, -20px);
      }
    }

    &.error {
      border-color: $red;
    }
  }

  .input-label {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    font: 15px/19px "GeometriaBold", sans-serif;
    color: $rock;
    transform: translate(10px, 0);
    cursor: pointer;
    @include transition(.2s);
  }
}

.link-underline {
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  color: $medium-carmine;
  text-decoration: underline;

  &:hover {
    color: $medium-carmine;
    text-decoration: none;
  }
}

// Buttons
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border:  2px solid $medium-carmine ;
  padding: 15px;
  border-radius: 8px;
  min-width: 215px;
  min-height: 60px;
  text-align: center;
  font: 18px/18px "GeometriaBold", sans-serif;
  cursor: pointer;
  @include transition(.2s);

  &:active {
    transform: scale(.98);
  }

  .mdi, img {
    margin-right: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  &.stretched {
    width: 100%;
    max-width: 100%;
  }

  &.btn-primary {
    background: $medium-carmine;
    color: $snow;

    &:hover {
      background: $medium-carmine-hover;
      border-color: $medium-carmine-hover;
    }
  }

  &.btn-invert {
    background: transparent;
    color: $medium-carmine-hover;

    &:hover {
      color: $snow;
      background: $medium-carmine-hover;
      border-color: $medium-carmine-hover;
    }
  }

  &.btn-disable {
    background: $hurricane;
    border-color: $hurricane;
    color: $snow;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.btn-cta {
    background: $ripe-lemon;
    border-color: $ripe-lemon;
    color: $medium-carmine-hover;

    &:hover {
      color: $snow;
      background: $medium-carmine-hover;
      border-color: $medium-carmine-hover;
    }
  }
}

.buy-btn {
  position: absolute;
  bottom: 0;
  right: 0;

  .btn {
    min-height: 50px;
    width: 150px;
    min-width: initial;
    border-radius: 8px 0 8px 0;
  }
}