* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  color: $cod-gray;
  font-family: $default-font;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: url("../img/pattern-main.png") repeat;

  &.ripe-lemon-bg {
    background-color: $ripe-lemon;
  }
}

.links {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: $medium-carmine-hover;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  box-shadow: $shadow;
  z-index: 10000;

  a {
    color: $snow;
    font-weight: bold;

    &:hover {
      color: $snow;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

a {
  display: inline-block;
  word-break: break-word;

  &:hover {
    color: $medium-carmine;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.outer-wrapper {
  padding: 30px 0 80px;
}

.inner-wrapper {
  max-width: 1472px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.content-wrapper {
  max-width: 950px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $screen-sm) {
    padding-left: 40px;
  }

  .responsive-img {
    border-radius: 8px;
    margin-bottom: 20px;
  }
}

.back-btn-mobile {
  display: none;

  @media (max-width: $screen-sm) {
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 25px;
    line-height: 25px;
    color: $rock;
    width: 40px;
    z-index: 100;
    padding-right: 15px;
  }
}

.responsive-img {
  img {
    max-width: 100%;
    height: auto;
  }
}

.mobile-back-button {
  display: none;
  padding: 30px 20px;

  @media (max-width: $screen-sm) {
    display: flex;
  }

  .mdi {
    font-size: 25px;
    line-height: 30px;
    color: $hurricane;
    margin-right: 15px;
  }
}

.main-section {
  margin-top: 100px;
  flex: 1;

  @media (max-width: $screen-md) {
    margin-top: 52px;
  }
}

* {
  outline: none !important;
}

// custom dividers
.mt-10 { margin-top: 10px }
.mr-10 { margin-right: 10px }
.mb-10 { margin-bottom: 10px }
.ml-10 { margin-left: 10px }

.mt-15 { margin-top: 15px }
.mr-15 { margin-right: 15px }
.mb-15 { margin-bottom: 15px }
.ml-15 { margin-left: 15px }

.mt-20 { margin-top: 20px }
.mr-20 { margin-right: 20px }
.mb-20 { margin-bottom: 20px }
.ml-20 { margin-left: 20px }

.mt-25 { margin-top: 25px }
.mr-25 { margin-right: 25px }
.mb-25 { margin-bottom: 25px }
.ml-25 { margin-left: 25px }

.mt-30 { margin-top: 30px }
.mr-30 { margin-right: 30px }
.mb-30 { margin-bottom: 30px }
.ml-30 { margin-left: 30px }

.mt-40 { margin-top: 40px }
.mr-40 { margin-right: 40px }
.mb-40 { margin-bottom: 40px }
.ml-40 { margin-left: 40px }

.mt-55 { margin-top: 55px }
.mr-55 { margin-right: 55px }
.mb-55 { margin-bottom: 55px }
.ml-55 { margin-left: 55px }

.pt-10 { padding-top: 10px }
.pr-10 { padding-right: 10px }
.pb-10 { padding-bottom: 10px }
.pl-10 { padding-left: 10px }

.pt-20 { padding-top: 20px }
.pr-20 { padding-right: 20px }
.pb-20 { padding-bottom: 20px }
.pl-20 { padding-left: 20px }

.pt-25 { padding-top: 25px }
.pr-25 { padding-right: 25px }
.pb-25 { padding-bottom: 25px }
.pl-25 { padding-left: 25px }

.pt-30 { padding-top: 30px }
.pr-30 { padding-right: 30px }
.pb-30 { padding-bottom: 30px }
.pl-30 { padding-left: 30px }

.pt-40 { padding-top: 40px }
.pr-40 { padding-right: 40px }
.pb-40 { padding-bottom: 40px }
.pl-40 { padding-left: 40px }

.pt-55 { padding-top: 55px }
.pr-55 { padding-right: 55px }
.pb-55 { padding-bottom: 55px }
.pl-55 { padding-left: 55px }

.reset-position {
  position: static !important;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  right: auto !important;
  transform: none !important;
}

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;

  &.absolute-dark {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
  }

  &.absolute-light {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;

    .bread-crumb-link {
      color: $gin-fizz;

      &:hover {
        color: $gin-fizz;
        opacity: .7;

        &:after {
          color: $gin-fizz;
        }
      }

      &:after {
        color: $gin-fizz;
      }
    }
  }

  @media (max-width: $screen-sm) {
    display: none;
  }

  .bread-crumb-link {
    text-transform: uppercase;
    color: $rock;
    font: 15px/19px "GeometriaBold", sans-serif;
    @include transition(.2s);

    &:hover {
      color: $medium-carmine;

      &:after {
        color: $rock;
      }
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "/";
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      position: relative;
      top: -2px;
      color: $rock;
    }
  }
}

.arrow-link {
  font: 18px/18px "GeometriaBold", sans-serif;
  color: $rock;
  @include transition(.2s);

  &:hover {
    color: $medium-carmine;
  }

  &.arrow-right {
    .mdi {
      margin-left: 5px;
    }
  }

  &.arrow-left {
    .mdi {
      margin-right: 5px;
    }
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-size: 25px;
    line-height: 25px;
    color: $rock;
    @include transition(.2s);
  }
}

.social-links {
  a {
    display: inline-block;
    vertical-align: middle;
    color: $rock;
    font-size: 30px;
    line-height: 30px;
    margin-right: 40px;
    @include transition(.2s);

    @media (max-width: $screen-xs) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $medium-carmine;
    }
  }
}

.hide-mobile {
  @media (max-width: $screen-sm) {
    display: none !important;
  }
}

.show-mobile {
  display: none;

  @media (max-width: $screen-sm) {
    display: block !important;
  }
}

// Keyframes
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($medium-carmine, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba($medium-carmine, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba($medium-carmine, 0);
  }
}

// Select lang
.selectric-wrapper {
  &.selectric-select-lang {
    .selectric-items {
      width: 100px !important;
    }
  }
  &.selectric-select-city {
    .selectric-items {
      width: 230px !important;
    }

    .selectric {
      overflow: initial;


      @media (min-width: $screen-md) {
        height: 52px;
        margin-bottom: -22px;
      }

      .label {
        font-size: 15px;

        @media (min-width: $screen-md) {
          height: 30px;
          line-height: 31px;
        }
      }

      .button {
        @media (min-width: $screen-md) {
          top: 8px;
          right: -30px;
        }
      }
    }
  }

  .selectric {
    background: none;
    border: none;

    .label {
      font: 18px/37px "GeometriaBold", sans-serif;
      color: $cod-gray;
      margin: 0 20px 0 0;
    }

    .button {
      background: none;
      width: 20px;

      &:after {
        border-top-color: $cod-gray;
        border-width: 5px;
      }
    }
  }

  .selectric-items {
    border-radius: 0 0 8px 8px;
    background: $ripe-lemon;
    box-shadow: $shadow;
    border: none;
    left: -20px;

    ul {
      padding: 20px 0 10px;

      li {
        font-size: 16px;
        line-height: 18px;
        padding: 0 20px 10px;
        text-transform: uppercase;
        color: $rock;
        @include transition(.2s);

        &.selected, &:hover {
          background: none;
          color: $medium-carmine;
        }
      }
    }
  }
}

// Dropdown list
.dropdown-list {
  position: absolute;
  top: 100%;
  left: -20px;
  padding: 20px 0 10px;
  margin: 0;
  list-style: none;
  width: 200px;
  border-radius: 0 0 8px 8px;
  background: $ripe-lemon;
  box-shadow: $shadow;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  @include transition(.3s);

  li {
    a {
      display: block;
      font: 16px/18px "GeometriaRegular", sans-serif;
      padding: 0 20px 10px;
      text-transform: uppercase;
      color: $rock;
      @include transition(.2s);

      &:hover {
        color: $medium-carmine;
      }
    }
  }
}


.icon-text {
  font: 15px/19px "GeometriaBold", sans-serif;
  color: $cod-gray;
  user-select: none;
  @include transition(.2s);

  &:hover {
    color: $medium-carmine-hover;
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    color: $medium-carmine;
    font-size: 24px;
    line-height: 26px;
    margin-right: 10px;
    margin-top: -2px;
  }
}

// Input styles
.input-material {
  position: relative;
  margin-bottom: 30px;

  .input-error {
    position: absolute;
    top: calc(100% + 5px);
    font: 14px/16px "GeometriaBold", sans-serif;
    color: $red;
  }

  input, textarea {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    resize: none;
    padding: 10px 0;
    border-bottom: 1px solid $rock;

    &.active, &:focus {
      + .input-label {
        transform: translate(0, -25px);
      }
    }

    &.error {
      border-color: $red;
    }
  }

  textarea {
    @media (max-width: $screen-sm) {
      min-height: 44px;
    }
  }

  .input-label {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    font: 15px/19px "GeometriaBold", sans-serif;
    color: $rock;
    transform: translate(10px, 0);
    cursor: pointer;
    @include transition(.2s);
  }
}

#tel, #time {
  @include input-placeholder {
    opacity: 0;
  }
}

.checkbox {
  input {
    display: none;

    &:checked {
      + .checkbox-label {
        .check-icon {
          background: $medium-carmine;

          &:after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .checkbox-label {
    margin: 0;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    position: relative;
    padding-left: 35px;

    .check-icon {
      position: absolute;
      top: 2px;
      left: 0;
      width: 19px;
      height: 19px;
      background: $hurricane;
      border-radius: 3px;

      &:after {
        content: "\F012C";
        font: 15px/19px "Material Design Icons", sans-serif;
        color: $snow;
        opacity: 0;
        visibility: hidden;
        @include transition(.2s);
        @include center(both);
      }
    }
  }
}

.link-underline {
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  color: $medium-carmine;
  text-decoration: underline;

  &:hover {
    color: $medium-carmine;
    text-decoration: none;
  }
}

// Buttons
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border:  2px solid $medium-carmine ;
  padding: 10px 15px;
  border-radius: 8px;
  min-width: 215px;
  min-height: 60px;
  text-align: center;
  font: 18px/18px "GeometriaBold", sans-serif;
  cursor: pointer;
  @include transition(.2s);

  &:active {
    transform: scale(.98);
  }

  .mdi, img, svg {
    margin-right: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  svg {
    path {
      @include transition(.2s);
    }
  }

  &.stretched {
    width: 100%;
    max-width: 100%;
  }

  &.btn-primary {
    background: $medium-carmine;
    color: $snow;

    &:hover {
      background: $medium-carmine-hover;
      border-color: $medium-carmine-hover;
    }
  }

  &.btn-invert {
    background: transparent;
    color: $medium-carmine-hover;

    &:hover {
      color: $snow;
      background: $medium-carmine-hover;
      border-color: $medium-carmine-hover;

      svg {
        path {
          fill: $snow;
        }
      }
    }
  }

  &[disabled] {
    background: $hurricane;
    border-color: $hurricane;
    color: $snow;

    &:hover {
      cursor: not-allowed;
      background: $hurricane;
      border-color: $hurricane;
    }
  }

  &.btn-cta {
    background: $ripe-lemon;
    border-color: $ripe-lemon;
    color: $medium-carmine-hover;

    &:hover {
      color: $snow;
      background: $medium-carmine-hover;
      border-color: $medium-carmine-hover;
    }
  }
}

.buy-btn {
  position: absolute;
  bottom: 0;
  right: 0;

  .btn {
    min-height: 50px;
    width: 150px;
    min-width: initial;
    border-radius: 8px 0 8px 0;
  }
}

// Product card
.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  @media (max-width: $screen-xs) {
    margin: 0;
  }

  .product-card {
    width: calc(25% - 30px);
    height: 100%;
    margin: 15px;
    background: $snow;
    box-shadow: $shadow;
    border-radius: 8px;
    text-align: center;
    border: 4px solid transparent;
    @include transition(.3s);

    @media (max-width: $screen-lg) {
      width: calc(33.33% - 30px);
    }

    @media (max-width: $screen-md) {
      width: calc(50% - 30px);
    }

    @media (max-width: $screen-xs) {
      width: 100%;
      margin: 0 0 30px;
    }

    @media (max-width: $screen-xs) {
      display: flex;
      flex-wrap: wrap;
    }

    &:hover {
      border-color: $medium-carmine;

      .product-counter {
        &:before, &:after {
          transform: translateX(0);
          @include transition(.1s);
        }
      }
    }

    .product-mobile-top-wrap {
      @media (max-width: $screen-xs) {
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

    .product-card-img {
      height: 200px;
      width: 100%;
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      @media (max-width: $screen-xs) {
        width: 130px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .product-main-info {
      @media (max-width: $screen-xs) {
        text-align: left;
        padding: 10px;
        flex: 1;
      }
    }

    .product-name {
      padding: 0 40px;
      min-height: 50px;
      margin-bottom: 5px;

      @media (max-width: $screen-xs) {
        padding: 0;
        min-height: initial;
      }
    }

    .product-rating {
      margin-bottom: 5px;

      .rating-star {
        .mdi {
          display: inline-block;
          vertical-align: middle;
          margin: 0 2px;
        }
      }
    }

    .product-price {
      margin-bottom: 5px;
    }

    .product-counter {
      padding: 15px 0;
      background: $gin-fizz;
      position: relative;

      @media (max-width: $screen-xs) {
        width: 100%;
      }

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-4px);
        width: 4px;
        height: 100%;
        background: $gin-fizz;
        @include transition(.5s);
      }

      &:after {
        right: 0;
        left: auto;
        transform: translateX(4px);
      }
    }

    .product-buy-btn {
      display: block;
      margin: 0 -4px -4px;

      @media (max-width: $screen-xs) {
        width: calc(100% + 8px);
      }

      .btn {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}


// Video wrapper
.video-wrapper {
  max-width: 460px;
  margin: 0 auto 20px;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .playpause {
    @include center(both);
    cursor: pointer;
    z-index: 10;
  }
}

.video-cdn-player {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.back-btn-wrap {
  width: 240px;
  padding: 3px 15px 0 0;

  @media (max-width: $screen-lg) {
    padding-top: 0;
    margin-top: -2px;
    width: 40px;

    .arrow-link {
      font-size: 0;
    }
  }
}

.content-wrapper-with-back-btn {
  flex: 1;
}

.form-wrapper {
  max-width: 337px;
  margin: 0 auto;
  position: relative;
}

// Modals
.modal-backdrop {
  z-index: 10000;
}

.modal-wrapper {
  z-index: 10001;

  .modal-dialog {
    max-width: 680px;
  }

  .modal-content {
    border: none;
    border-radius: 8px;
    padding: 30px;

    @media (max-width: $screen-sm) {
      padding: 30px 20px;
    }

    .close-modal {
      position: absolute;
      top: 29px;
      right: 20px;

      .mdi {
        font-size: 25px;
        line-height: 25px;
        color: $medium-carmine;
        cursor: pointer;
      }
    }
  }
}

.basket-product-item {
  margin-bottom: 20px;

  .basket-product-img {
    width: 50px;
    margin-right: 40px;

    img {
      max-width: 100%;
    }
  }

  .baskter-product-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $screen-sm) {
      display: block;
    }

    p {
      &:first-child {
        flex: 1;
      }

      &:last-child {
        width: 100px;

        @media (max-width: $screen-sm) {
          width: auto;
          text-align: left !important;
          color: $medium-carmine;
        }
      }
    }
  }
}

.choose-bottle-row {
  display: flex;

  @media (max-width: $screen-sm) {
    display: block;
  }

  .choose-bottle-product-img {
    width: 75px;
    margin-right: 20px;

    @media (max-width: $screen-sm) {
      width: 100px;
      margin-right: 0;
      margin: 0 auto 20px;
    }

    img {
      max-width: 100%;
    }
  }

  .choose-bottle-product-info {
    flex: 1;
  }
}

.choose-bottle-select {
  display: flex;
  align-items: center;

  @media (max-width: $screen-md) {
    margin-bottom: 20px;
  }

  .choose-select-icon {
    width: 12px;
    margin-right: 15px;
  }
}

.select-bottle-wrapper {
  &.selected {
    .selectric-select-bottle {
      border-color: $medium-carmine;
    }

    .selectric {
      .label {
        color: $medium-carmine;
      }

      .button {
        &:after {
          border-top-color: $medium-carmine;
        }
      }
    }
  }

  .selectric-select-bottle {
    border: 2px solid $hurricane;
    border-radius: 8px;
    padding: 0 5px 0 15px;

    &.selectric-open {
      border-radius: 8px 8px 0 0;
    }
  }

  .selectric {
    .label {
      min-width: 35px;
    }
  }

  .selectric-items {
    left: -2px;
    width: calc(100% + 4px) !important;
  }
}

// Tabs
.nav-tabs {
  margin-top: 30px;
  border: none;

  @media (max-width: $screen-sm) {
    margin-top: 0;
  }

  .nav-item {
    margin: 0 25px;

    @media (max-width: $screen-sm) {
      margin: 0 5px;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .nav-link {
      border: none;
      font: 18px/18px "GeometriaBold", sans-serif;
      text-transform: uppercase;
      color: $hurricane;
      padding: 0;
      position: relative;

      @media (max-width: $screen-sm) {
        width: 95px;
        font-size: 15px;
      }

      &:hover {
        color: $medium-carmine;
      }

      &.active {
        color: $medium-carmine;

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 4px;
        background: $medium-carmine;
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);
      }
    }
  }
}

.history-table {
  background: $snow;
  border-radius: 8px;
  box-shadow: $shadow;
  max-width: 1170px;
  margin: 0 auto;
  overflow-x: auto;

  table {
    width: 1170px;
    border-collapse: collapse;

    @media (max-width: $screen-md) {
      width: 870px;
    }

    tr {
      border-bottom: 1px solid rgba($hurricane, .33);
    }

    tbody {
      tr {
        &:last-child {
          border-bottom: none;
        }
      }
    }

    th {
      font: 18px/18px "GeometriaBold", sans-serif;
      color: $medium-carmine;
      padding: 20px 30px;
    }

    td {
      padding: 10px 30px;
      font-size: 15px;
      line-height: 22px;
      color: $rock;
    }
  }
}