// Home page
.catalog {
  padding-bottom: 85px;
}

.reviews-slider-wrap {
  padding: 110px 16px 150px;
  margin-bottom: 100px;
  position: relative;
  border-radius: 0 0 100% 100%/0 0 50px 50px;
  //border-radius: 0 0 50% 50% / 0px 0px 50px 50px;
  background: $rock url("../img/pattern2.png") repeat 50% 50%;

  @media (max-width: $screen-xs) {
    padding: 30px 16px 90px;
    margin-bottom: 50px;
  }
}

.partners-list {
  padding: 100px 0;

  @media (max-width: $screen-xs) {
    padding: 35px 0;
  }

  .partner-item {
    margin: 25px 50px;
  }
}

// Shop page
.shop-page {
  .bread-crumbs {
    margin-bottom: 120px;
  }
}

.shop-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  @media (max-width: $screen-sm) {
    margin: 0;
    padding-top: 50px;
  }

  .shop-item {
    border-radius: 8px;
    background: url("../img/shop-item-bg.png") no-repeat 50% 50%;
    width: calc(33.33% - 30px);
    background-size: cover;
    min-height: 150px;
    margin: 0 15px 75px;
    display: flex;
    align-items: center;
    position: relative;
    @include transition(.2s);

    @media (max-width: $screen-lg) {
      width: calc(50% - 30px);
    }

    @media (max-width: $screen-sm) {
      width: 100%;
      margin: 0 0 65px;

      &:nth-child(5) {
        .shop-img {
          bottom: 10px !important;
        }
      }

      &:nth-child(6) {
        .shop-img {
          bottom: 30px !important;
        }
      }
    }

    &:hover {
      .shop-title {
        color: $ripe-lemon;
      }
    }

    &.active {
      border-radius: 8px 8px 0 0;

      .shop-arrow {
        transform: rotate(180deg);
      }

      .shop-title {
        color: $ripe-lemon;
      }

      .shop-sublist {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    .shop-arrow {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      z-index: 5;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 25px;
      line-height: 25px;
      color: $gin-fizz;
      @include transition(.2s);
    }

    .shop-img {
      position: absolute;
      left: 30px;
      bottom: 0;
      width: 245px;
      text-align: center;

      @media (max-width: $screen-lg) {
        width: 180px;
      }

      @media (max-width: $screen-sm) {
        width: 150px;
      }

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .shop-title {
      padding-left: 245px;
      color: $gin-fizz;
      @include transition(.2s);

      @media (max-width: $screen-lg) {
        padding-left: 200px;
      }

      @media (max-width: $screen-sm) {
        padding-left: 180px;
      }
    }

    .shop-sublist {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 20px 30px 0;
      box-shadow: $shadow;
      border-radius: 0 0 8px 8px;
      background: $gin-fizz;
      z-index: 10;
      display: flex;
      flex-wrap: wrap;
      opacity: 0;
      visibility: hidden;
      transform: translateY(5px);
      @include transition(.2s);

      .shop-subitem {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding-right: 15px;
        font: 18px/18px "GeometriaBold", sans-serif;
        color: $medium-carmine;
        @include transition(.2s);

        @media (max-width: $screen-sm) {
          width: 100%;
        }

        &:hover {
          color: $rock;
        }
      }
    }
  }
}

// News page
.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.news-card {
  width: 100%;
  display: block;
  margin-bottom: 45px;

  &:hover {
    .news-name {
      color: $rock !important;
    }
  }

  .news-img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .news-name {
    @include transition(.3s);
  }
}

// News detail
.news-detail-banner {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (max-width: $screen-md) {
    background-position: 35% 50%;
  }

  .inner-wrapper {
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 15px;
    text-align: center;
  }
}

.news-detail-content {
  display: flex;

  .news-detail-main-info {
    flex: 1;

    .responsive-img {
      border-radius: 8px;
      margin-bottom: 20px;
    }
  }

  .news-detail-more-news {
    width: 337px;
    margin-left: 153px;

    @media (max-width: $screen-lg) {
      margin-left: 30px;
    }

    @media (max-width: $screen-md) {
      width: 240px;
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }
}

// About us page
.suppliers-list {
  display: flex;
  margin: 0 -25px;

  @media (max-width: $screen-md) {
    flex-wrap: wrap;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
  }

  .supplier-item {
    margin: 0 25px 40px;

    @media (max-width: $screen-md) {
      width: calc(33.33% - 50px);
      text-align: center;
    }

    @media (max-width: $screen-sm) {
      margin: 0 10px 30px;
      width: calc(50% - 20px);
    }

    img {
      max-width: 100%;
    }
  }
}

.suppliers-list2 {
  display: flex;
  margin: 0 -13px;

  @media (max-width: $screen-md) {
    flex-wrap: wrap;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
  }

  .supplier-item {
    margin: 0 13px 40px;

    @media (max-width: $screen-md) {
      width: calc(33.33% - 20px);
      text-align: center;
    }

    @media (max-width: $screen-sm) {
      margin: 0 10px 30px;
      width: calc(50% - 20px);
    }

    img {
      max-width: 100%;
    }
  }
}

// Contact us page
.contact-col-row {
  margin-bottom: 60px;

  @media (max-width: $screen-md) {
    margin-bottom: 40px;
  }
}

.contact-col-left {
  flex: 1;
  position: relative;

  img {
    max-width: 100%;
  }
}

#map {
  width: 100%;
  height: 400px;
  border-radius: 8px;

  @media (max-width: $screen-md) {
    width: 300px;
  }
}

.contact-col-right {
  width: 435px;
  margin-left: 30px;

  @media (max-width: $screen-md) {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

.shops-addr-list {
  max-height: 355px;
  overflow-y: auto;

  @media (max-width: $screen-md) {
    max-height: initial;
  }

  .shop-addr-item {
    margin-bottom: 10px;

    &.active {
      padding: 20px;
      background: $gin-fizz;
    }
  }
}

.form-wrap {
  @include transition(.3s);
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.successfully-message {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  @include transition(.3s);

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.staff-item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  .staff-img {
    margin-right: 20px;

    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .staff-info {
    flex: 1;

    .title {
      &.is-2 {
        @media (max-width: $screen-sm) {
          font-size: 20px;
          word-break: break-word;
        }
      }
    }
  }
}

// Loyalty page
.loyalty-list {
  display: flex;
  margin: 0 -15px;

  @media (max-width: $screen-lg) {
    flex-wrap: wrap;
  }

  @media (max-width: $screen-xs) {
    margin: 0;
  }

  .loyalty-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: url("../img/shop-item-bg.png") no-repeat 50% 50%;
    width: calc(25% - 30px);
    background-size: cover;
    min-height: 150px;
    padding: 40px;
    margin: 15px;
    @include transition(.2s);

    @media (max-width: $screen-lg) {
      width: calc(50% - 30px);
    }

    @media (max-width: $screen-xs) {
      width: 100%;
      margin: 0 0 30px;
      align-items: flex-start;
    }

    &:hover {
      box-shadow: $shadow2;
    }
  }
}

// Vacancies page
.vacancies-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  @media (max-width: $screen-sm) {
    margin: 0;
  }

  .vacancy-item {
    padding: 40px 40px 85px;
    position: relative;
    margin: 15px;
    width: calc(50% - 30px);
    height: 100%;
    background: $snow;
    box-shadow: $shadow;
    border-radius: 8px;
    @include transition(.3s);

    @media (max-width: $screen-sm) {
      width: 100%;
      margin: 0 0 30px;
      padding: 20px 20px 85px;
    }

    &:hover {
      background: $gin-fizz;
    }

    .vacancy-details-link {
      h3 {
        @include transition(.3s);

        &:hover {
          color: $ripe-lemon;
        }
      }
    }

    .fill-form-btn {
      position: absolute;
      bottom: 0;
      right: 0;

      .btn {
        border-radius: 8px 0 8px 0;
      }
    }
  }
}