// Arrows slider
.swiper-arrow-prev, .swiper-arrow-next {
  font-size: 30px;
  line-height: 32px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  color: $hurricane;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  @include transition(.2s);

  &:hover {
    animation: pulse 2s infinite;
    color: $medium-carmine;
  }
}

// Additional slider header right slide
.additional-products-slider {
  overflow: hidden;
  position: relative;

  .swiper-arrow-prev, .swiper-arrow-next {
    top: 35px;
  }

  .swiper-arrow-prev {
    left: 15px;
  }

  .swiper-arrow-next {
    right: 15px;
  }

  .swiper-slide {
    text-align: center;

    .add-slider-wrap {
      padding: 0 20px;

      .add-img-wrap {
        width: 100px;
        margin: 0 auto 20px;

        img {
          max-width: 100%;
        }
      }

      > .product-text {
        display: block;
        padding-top: 0;
        margin-bottom: 20px;
      }
    }
  }
}

// Hero slider
.hero-slider {
  width: 100%;
  position: relative;
  margin-bottom: 175px;

  @media (max-width: $screen-xs) {
    margin-bottom: 65px;
  }

  .swiper-wrapper {
    .swiper-slide {
      min-height: 687px;

      @media (max-width: $screen-md) {
        min-height: 400px;
      }

      @media (max-width: $screen-xs) {
        min-height: 280px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .swiper-pagination-bullets {
    bottom: -90px !important;

    @media (max-width: $screen-xs) {
      bottom: -70px !important;
    }

    .swiper-pagination-bullet {
      margin: 0 15px;
      width: 60px;
      height: 60px;
      opacity: 1;
      background-size: contain;
      will-change: background;
      background: url("../img/hero-slider-bullet.svg") no-repeat 50% 50%;
      @include transition(.2s);

      @media (max-width: $screen-xs) {
        transform: scale(.5);
        margin: 0 -5px !important;
      }

      &.swiper-pagination-bullet-active {
        background-image: url("../img/hero-slider-bullet-fiiled.svg");
      }
    }
  }
}

// Popular products slider
.popular-products-slider {
  overflow: hidden;
  padding: 60px 0 100px;

  @media (max-width: $screen-sm) {
    //overflow: initial;
  }

  @media (max-width: $screen-sm) {
    padding: 60px 0 0;
    margin-bottom: 50px;
  }

  @media (max-width: $screen-xs) {
    padding: 25px 0 0;
  }

  .swiper-arrow-prev, .swiper-arrow-next {
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: $screen-sm) {
      top: auto;
      bottom: 15px;
      transform: none;
    }
  }

  .swiper-arrow-prev {
    left: -30px;

    @media (max-width: 1600px) {
      left: 20px;
    }

    @media (max-width: $screen-sm) {
      left: 30px;
    }
  }

  .swiper-arrow-next {
    right: -30px;

    @media (max-width: 1600px) {
      right: 20px;
    }

    @media (max-width: $screen-sm) {
      right: auto;
      left: 80px;
    }
  }

  .swiper-slide {
    @include transition(.5s);

    &.swiper-slide-active {
      @media (min-width: $screen-lg) {
        width: 270px !important;
      }

      @media (min-width: 1600px) {
        width: 300px !important;
      }

      .popular-product-card {
        @media (max-width: $screen-lg) {
          background: $gin-fizz;
          box-shadow: $shadow;
        }

        .popular-product-img {
          transform: translateX(-30px) scale(.7);

          @media (max-width: $screen-lg) {
            transform: translateX(0);
          }
        }

        .popular-product-info {
          @media (max-width: $screen-lg) {
            width: auto;
            flex: 1;
            opacity: 1;
            visibility: visible;
            @include reset-position;
          }
        }
      }
    }

    &.swiper-slide-next {
      @media (min-width: $screen-lg) {
        width: 580px !important;
      }

      .popular-product-card {
        background: $gin-fizz;
        box-shadow: $shadow;

        .popular-product-img {
          transform: translateX(0);
        }

        .popular-product-info {
          width: 312px;
          opacity: 1;
          visibility: visible;
        }
      }

      + .swiper-slide {
        @media (min-width: $screen-lg) {
          width: 270px !important;
        }

        @media (min-width: 1600px) {
          width: 300px !important;
        }

        + .swiper-slide {
          width: 300px !important;

          @media (min-width: $screen-lg) {
            width: 270px !important;
          }

          @media (min-width: 1600px) {
            width: 300px !important;
          }

          + .swiper-slide {
            @media (min-width: $screen-lg) {
              width: 270px !important;
            }
          }
        }
      }
    }

    .popular-product-card {
      border-radius: 8px;
      @include transition(.3s);

      .popular-product-img {
        width: 268px;
        transform: translateX(30px) scale(.7);
        height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        @include transition(.5s);

        @media (max-width: $screen-sm) {
          width: 80px;
          height: 160px;
          margin-top: -40px;
          justify-content: flex-start;
        }

        img {
          max-width: 100%;
        }
      }

      .popular-product-info {
        padding: 30px 40px 72px 0;
        height: 300px;
        width: 312px;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
        @include transition(.5s);

        @media (max-width: $screen-lg) {
          width: auto;
          height: auto;
          flex: 1;
          opacity: 1;
          visibility: visible;
          @include reset-position;
        }
      }
    }
  }
}

// Reviews slider
.reviews-slider {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 0;

  .swiper-pagination {
    bottom: 70px !important;

    @media (max-width: $screen-xs) {
      bottom: 35px !important;
    }

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background: $gin-fizz;
      opacity: 1;
      margin: 0 15px !important;
      @include transition(.3s);

      &.swiper-pagination-bullet-active {
        background: $ripe-lemon;
      }
    }
  }
}

.review-author-left {
  width: 120px;
  margin-right: 70px;
  text-align: center;
  position: relative;

  @media (max-width: $screen-sm) {
    margin-right: 20px;
  }

  @media (max-width: $screen-xs) {
    width: 180px;
    margin: 0 auto 35px;
  }

  .review-quote {
    position: absolute;
    top: -50px;
    right: -50px;
    font-size: 60px;
    line-height: 60px;
    color: $medium-carmine;

    @media (max-width: $screen-xs) {
      top: -30px;
      right: -30px;
    }
  }

  .review-author-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 25px;

    @media (max-width: $screen-xs) {
      margin: 0 auto 25px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .review-author-social {
    a {
      display: inline-block;
      vertical-align: middle;
      color: $snow;
      font-size: 25px;
      line-height: 25px;
      margin: 0 3px;
    }
  }
}

.review-author-right {
  flex: 1;
}

// News slider
.news-slider {
  position: relative;
  margin-bottom: 70px;

  .swiper-pagination {
    bottom: -50px !important;

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background: none;
      opacity: 1;
      border: 2px solid $medium-carmine;
      border-radius: 50%;
      margin: 0 15px !important;
      @include transition(.2s);

      &.swiper-pagination-bullet-active {
        background: $medium-carmine;
      }
    }
  }
}

.news-slide {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media (max-width: $screen-md) {
    background-position: 35% 50%;
  }

  .inner-wrapper {
    padding: 60px 15PX;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media (max-width: $screen-md) {
      min-height: 450px;
    }
  }
}

.news-slide-info {
  width: 50%;
  padding-right: 120px;

  @media (max-width: $screen-lg) {
    padding-right: 0;
  }

  @media (max-width: $screen-md) {
    width: 100%;
    text-align: right;
  }
}

// Suppliers slider
.suppliers-slider {
  overflow: hidden;

  @media (max-width: $screen-md) {
    margin-bottom: 50px;
  }

  .swiper-wrapper {
    display: block;

    @media (max-width: $screen-md) {
      display: flex;
    }
  }

  .swiper-arrows-wrap {
    display: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: $screen-md) {
      display: block;
    }

    .swiper-arrow-next, .swiper-arrow-prev {
      position: static;
      display: inline-block;
      margin: 0 20px;
    }
  }
}