$default-font: "GeometriaRegular", sans-serif;

// Colors
$cod-gray: #1D1918;
$rock: #493630;
$red: #DD2E44;
$medium-carmine: #B5443B;
$medium-carmine-hover: #b2342a;
$hurricane: #807976;
$gray: #E0E0E0;
$ripe-lemon: #F4D41C;
$gin-fizz: #FFF9DF;
$snow: #FFF;

// Box shadow
$shadow: 0 13px 73px rgba(0, 0, 0, 0.08);
$shadow2: 0 13px 33px rgba(0, 0, 0, 0.33);

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);

$gutter: $grid-gutter-width;

// Media
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 767px;
$screen-xs: 575px;
