// Libs
@import "../libs/bootstrap/scss/bootstrap-reboot.scss";
@import "../libs/bootstrap/scss/bootstrap-grid.scss";
@import "../libs/bootstrap/scss/utilities/_sizing.scss";
@import "../libs/bootstrap/scss/utilities/_text.scss";
@import "../libs/bootstrap/scss/modal";
@import "../libs/bootstrap/scss/nav";
@import "../libs/selectric/selectric.scss";

// Main settings
@import "fonts";
@import "mixins-custom";
@import "vars";
@import "typography";
@import "custom";
@import "sliders";

// Components
@import "header";
@import "footer";

// Pages
@import "pages";
